.font-size-1_600 {
    font-size: 1.75rem;
    font-weight: 600;
}
 
.font-size-2_600 {
    font-size: 1rem;
    font-weight: 600;
}
 
.font-size-2_500 {
    font-size: 1rem;
    font-weight: 500;
}
 
.font-size-3_600 {
    font-size: 0.875rem;
    font-weight: 500;
}
 
.font-size-3_500 {
    font-size: 0.875rem;
    font-weight: 500;
}
 
.font-size-4_500 {
    font-size: 0.75rem;
    font-weight: 500;
}
 
.font-color_grey-1 {
    color: var(--color-grey-1);
}
 
.font-color_grey-2 {
    color: var(--color-grey-2);
}
 
.font-color_grey-3 {
    color: var(--color-grey-3);
}
 
.font-color_grey-4 {
    color: var(--color-grey-4);
}
 
.font-color_grey-5 {
    color: var(--color-grey-5);
}
 
.font-color_grey-6 {
    color: var(--color-grey-6);
}
 
.font-color_grey-7 {
    color: var(--color-grey-7);
}
 
.font-color_grey-8 {
    color: var(--color-grey-8);
}
 
.font-color_grey-9 {
    color: var(--color-grey-9);
}